
.textColor {
    color: #6d48a4;

}

.bg-light {
    background-color: #f8f9fc;
}

body {
    font-family: "Nunito";
}

.modal-dialog {
    background: white;
}

.btn-outline-success {
    color: #6d48a4;
    border-color: #6d48a4;
}
.bg-category{
    background: url('/images/aboutus/collage.jpg') center center; 
        background-size: 100% 100%;
        background-repeat: no-repeat;
}
@media (max-width: 768px){
   .bg-category{
    background-size: cover;
   } 
}